.home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}

header {
    width: 100%;
    height: 120px;
    background-color: rgb(114, 114, 114);
}