.home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: rgb(114, 114, 114);
    border-radius: 0px 0px 10px 10px;


}

.boxheader {
    position: absolute;
    right: 0px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 0px;
    height: 100%;
    gap: 10px;
    background-color: blueviolet;

    & ul {
        list-style: none;
        gap: 200px;
        display: flex;
        flex-direction: row;

        & li {
            cursor: pointer;
        }
    }
}




@media (max-width:790px) {}

@media (max-width:1200px) {
    header {
        height: 100px;
    }
}