* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 235, 205, 0);
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 185, 185);
  max-width: 100%;
  min-height: 100vh;
}